@use '../variables' as *;

.content-container {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%; 
}
.gallery-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px 16px;
    background-color: #ffffff;
    width: 100%;
}

.gallery-card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-top: 5px solid #f0f0f0;
    padding-bottom: 16px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;

    &__image-wrapper {
        position: relative;
        width: 363px;
        height: 173px;
        overflow: hidden;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:20px;
        border-radius: 4px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        width:360px;
        height:40px;
        margin-bottom:22px;
    }

    &__title {
        font-size: 16px;
        font-weight: 700;
        color: #111111;
        line-height: 1.35;
        margin: 0;
    }

    &__date {
        font-size: 12px;
        color: #999999;
        font-weight: 400;
    }
}

.badge {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #ffffff;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    color: #111;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    

    img, svg {
        width: 14px;
        height: 14px;
    }

    &--video {
        color: #d32f2f; 
    }
    
    &--photo {
        color: #d32f2f; 
    }
}
.header-title{
    font-weight: 700;
    margin-top:5px;
    margin-left:20px;
}