a{
    text-decoration: none;
}

.page-content {
    background-color: #ffffff;
    height:100%;
    padding: 0px 20px;
    box-sizing: border-box;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    html.dark-mode & {
        background-color: #121214;
    }

    .saved-page {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .saved-section {
            display: flex;
            flex-direction: column;

            &__header {
                display: flex;
                align-items: center;
                gap: 12px;
                padding-bottom: 12px;
                border-bottom: 1px solid #f0f0f0;
                margin-bottom: 12px;
                position:sticky;
                top:0;
                z-index:10;
                background-color: #ffffff;
                padding-top:15px;

                html.dark-mode & {
                    background-color: #121214;

                }
            }

            &__icon-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &__title {
                font-size: 16px;
                font-weight: 700;
                color: #111111;
                margin: 0;
                html.dark-mode & {
                    color: white;
                }
            }

            .saved-list {
                display: flex;
                flex-direction: column;

                .saved-item {
                    display: flex;
                    align-items: flex-start;
                    gap: 12px;
                    padding: 10px 0;

                    &:last-child {
                        border-bottom: none;
                    }

                    &__bullet {
                        width: 7px;
                        height: 7px;
                        background-color: #e11d48; // Kırmızı nokta
                        border-radius: 50%;
                        margin-top: 6px;
                        flex-shrink: 0;
                    }

                    &__content {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                    }

                    &__text {
                        font-size: 14px;
                        font-weight: 600;
                        color: #1a1a1a;
                        margin: 0;
                        line-height: 1.4;
                        html.dark-mode & {
                            color: white;
                        }
                    }

                    &__time {
                        font-size: 12px;
                        color: #888888;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

